Packages
.build
Sources/main.swift
Public
Resources
.DS_Store
Xcode/Echo/Echo.xcodeproj/project.xcworkspace/xcshareddata/
Xcode/Echo/Echo.xcodeproj/project.xcworkspace/xcuserdata/
Xcode/Echo/Echo.xcodeproj/xcuserdata/
